<!DOCTYPE html>
<html>
    <head>
        <link href="/styles.css" rel="stylesheet">
        <title>Login</title>
    </head>
    <body>

        <header class="navbar">
            <div class="logo-container">
                <img src="logo.jpg" alt="Logo" class="header-image">
                <h2 class="library-title">Blogs</h2>
            </div>

            <div class="nav-profile-container">
                <nav class="nav-links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="form-container">
            <% if (messages.error) { %>
                <div class="error-message">
                    <p><%= messages.error %></p>
                </div>
            <% } %>
            <% if (messages.success) { %>
                <div class="success-message">
                    <p><%= messages.success %></p>
                </div>
            <% } %>

            <form action="/login" method="POST" class="login-form">
                <h1>Login</h1>

                <label for="username">Name:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" autocomplete="off" required>

                <button type="submit" class="login-button">Login</button>
            </form>

            <div class="signup-option">
                <p>Don't have an account? <a href="/create-profile"><b>Sign up here.</b></a></p>
            </div>
        </div>

    </body>
</html>